<div class="flex flex-col items-center p-6 w-full max-w-4xl mx-auto">
  <!-- Profile Picture and Name -->
  <div
    class="flex flex-col md:flex-row items-center md:space-x-6 space-y-4 md:space-y-0"
  >
    <img
      src="../../../assets/pf.png"
      alt="Profile Picture"
      class="w-24 h-24 md:w-32 md:h-32 rounded-full bg-gradient-to-r from-green-400 to-lime-500 p-2 shadow-lg"
    />
    <div class="text-center md:text-left">
      <h1 class="text-2xl md:text-3xl font-bold text-gray-800">
        Faniloniaina RAMILISON
      </h1>

      <p class="text-gray-600 mt-2">
        Developer🚀 | From Madagascar
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Madagascar.svg"
          alt="Madagascar Flag"
          class="inline-block w-6 h-4 ml-1 align-middle"
        />
      </p>
    </div>
  </div>

  <!-- Bio Section -->
  <div class="mt-6 p-4 bg-white rounded-lg shadow-md w-full">
    <p class="text-justify leading-relaxed text-gray-700">
      Hello World ! I'm a junior developer with a great passion for technology.
      I am passionate about delivering solutions that add value to people's
      lives and at the same time challenge me. Improved my skills as a Front-End
      and Back-End developer I'm always improving myself with each project . I
      am a dedicated person who pursues hardworking and results oriented, I
      always seek to achieve my best version.
    </p>
  </div>

  <!-- GitHub Section -->
  <div class="mt-6 w-full">
    <div
      class="flex flex-col md:flex-row items-center md:items-start justify-between bg-white p-6 rounded-lg shadow-lg"
    >
      <!-- GitHub Profile and Follow Button -->
      <div
        class="flex flex-col md:flex-row items-center md:items-start space-x-4 md:space-x-6 text-center md:text-left my-auto"
      >
        <img
          src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          alt="GitHub Logo"
          class="w-12 h-12 mb-2"
        />
        <div class="flex flex-col items-center md:items-start">
          <h2 class="text-xl font-semibold text-gray-800">GITHUB</h2>
          <button
            class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-lg mt-2 transition duration-200 ease-in-out transform hover:scale-105"
            (click)="redirectToGitHub()"
          >
            Follow
          </button>
        </div>
      </div>
      <!-- GitHub Contribution Graph -->
      <img
        src="../../../assets/téléchargement.png"
        alt="GitHub Contribution Graph"
        class="w-full md:w-96 lg:w-[500px] rounded-lg mt-4 md:mt-0 shadow-md"
      />
    </div>
  </div>
</div>
