<div class="flex flex-col items-center p-6 w-full max-w-4xl mx-auto">
  <!-- Profile Picture and Name -->
  <div
    class="flex flex-col md:flex-row items-center md:space-x-6 space-y-4 md:space-y-0"
  >
    <img
      src="../../../assets/pf.png"
      alt="Profile Picture"
      class="w-24 h-24 md:w-32 md:h-32 rounded-full p-2 bg-gray-100 hover:bg-gradient-to-r from-green-400 to-lime-500 shadow-lg transition-all duration-1000 ease-in-out transform"
    />

    <div
      class="text-center md:text-left transition duration-200 ease-in-out hover:text-gray-600"
    >
      <h1 class="text-2xl md:text-3xl font-bold text-gray-800">
        Faniloniaina RAMILISON
      </h1>
      <p class="text-gray-400 font-light mt-2">
        Developer🚀 | From Madagascar
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Madagascar.svg"
          alt="Madagascar Flag"
          class="inline-block w-6 h-4 ml-1 align-middle transition duration-200 ease-in-out transform hover:scale-110"
        />
      </p>
    </div>
  </div>

  <!-- Bio Section -->
  <div
    class="mt-6 p-4 bg-white rounded-lg shadow-md w-full transition duration-200 ease-in-out transform hover:rotate-1 hover:translate-y-1 hover:shadow-lg"
  >
    <p class="text-justify leading-relaxed text-gray-700">
      Hey there! I'm a passionate junior developer with a knack for crafting
      innovative solutions that make a real difference. Whether it's tackling
      challenges head-on or continuously refining my skills, I'm all about
      pushing boundaries and delivering top-notch results. My journey in tech is
      fueled by a love for learning and a commitment to evolving with every
      project. Let's create something amazing together!
    </p>
  </div>

  <!-- Favorite Skills Section -->
  <div class="mt-6 w-full">
    <h2
      class="text-2xl font-semibold text-center text-gray-800 mb-4 transition duration-200 ease-in-out hover:text-gray-600"
    >
      Favorite Skills
    </h2>
    <div class="flex flex-wrap justify-center gap-6">
      <!-- TypeScript Card -->
      <div
        class="flex flex-col items-center p-4 bg-white rounded-lg shadow-md w-40 transition duration-200 ease-in-out transform hover:scale-105 hover:bg-gray-100"
      >
        <img
          src="https://cdn.worldvectorlogo.com/logos/typescript.svg"
          alt="TypeScript Logo"
          class="w-8 h-8 transition duration-200 ease-in-out transform hover:scale-110"
        />
        <p class="text-sm font-medium text-gray-700 mt-2">TypeScript</p>
      </div>

      <!-- Angular Card -->
      <div
        class="flex flex-col items-center p-4 bg-white rounded-lg shadow-md w-40 transition duration-200 ease-in-out transform hover:scale-105 hover:bg-gray-100"
      >
        <img
          src="https://angular.io/assets/images/logos/angular/angular.svg"
          alt="Angular Logo"
          class="w-8 h-8 transition duration-200 ease-in-out transform hover:scale-110"
        />
        <p class="text-sm font-medium text-gray-700 mt-2">Angular</p>
      </div>

      <!-- Laravel Card -->
      <div
        class="flex flex-col items-center p-4 bg-white rounded-lg shadow-md w-40 transition duration-200 ease-in-out transform hover:scale-105 hover:bg-gray-100"
      >
        <img
          src="https://laravel.com/img/logomark.min.svg"
          alt="Laravel Logo"
          class="w-8 h-8 transition duration-200 ease-in-out transform hover:scale-110"
        />
        <p class="text-sm font-medium text-gray-700 mt-2">Laravel</p>
      </div>

      <!-- MySQL Card -->
      <div
        class="flex flex-col items-center p-4 bg-white rounded-lg shadow-md w-40 transition duration-200 ease-in-out transform hover:scale-105 hover:bg-gray-100"
      >
        <img
          src="https://www.vectorlogo.zone/logos/mysql/mysql-official.svg"
          alt="MySQL Logo"
          class="w-8 h-8 transition duration-200 ease-in-out transform hover:scale-110"
        />
        <p class="text-sm font-medium text-gray-700 mt-2">MySQL</p>
      </div>
    </div>
  </div>

  <!-- GitHub Section -->
  <div class="mt-6 w-full">
    <div
      class="flex flex-col md:flex-row items-center md:items-start justify-between bg-white p-6 rounded-lg shadow-lg transition duration-200 ease-in-out transform hover:rotate-1 hover:translate-y-1 hover:bg-gray-100"
    >
      <!-- GitHub Profile and Follow Button -->
      <div
        class="flex flex-col md:flex-row items-center md:items-start space-x-4 md:space-x-6 text-center md:text-left my-auto"
      >
        <img
          src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          alt="GitHub Logo"
          class="w-12 h-12 mb-2 transition duration-200 ease-in-out transform hover:scale-110"
        />
        <div class="flex flex-col items-center md:items-start">
          <h2
            class="text-xl font-semibold text-gray-800 transition duration-200 ease-in-out hover:text-gray-600"
          >
            GITHUB
          </h2>
          <button
            class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-lg mt-2 transition duration-200 ease-in-out transform hover:scale-105"
            (click)="redirectToGitHub()"
          >
            Follow
          </button>
        </div>
      </div>
      <!-- GitHub Contribution Graph -->
      <img
        src="../../../assets/téléchargement.png"
        alt="GitHub Contribution Graph"
        class="w-full md:w-96 lg:w-[500px] rounded-lg mt-4 md:mt-0 shadow-md transition duration-200 ease-in-out transform hover:scale-105 hover:shadow-lg"
      />
    </div>
  </div>
</div>
