<div class="flex flex-col items-center bottom-0 p-4">
  <div class="flex space-x-4 mb-2">
    <!-- GitHub -->
    <a
      href="https://github.com/KRAKENito"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
        alt="GitHub Logo"
        class="w-6 h-6"
      />
    </a>
    <!-- Mail -->
    <a href="mailto:faniloniainaa21@gmail.com">
      <img
        src="https://img.icons8.com/ios-filled/50/000000/email.png"
        alt="Email Icon"
        class="w-6 h-6"
      />
    </a>
    <!-- LinkedIn -->
    <a
      href="https://www.linkedin.com/in/faniloniaina-ramilison-156014240/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
        alt="LinkedIn Logo"
        class="w-6 h-6"
      />
    </a>
    <!-- Instagram -->
    <a
      href="https://www.instagram.com/faarm___/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/174/174855.png"
        alt="Instagram Logo"
        class="w-6 h-6"
      />
    </a>
    <!-- Discord -->
    <a
      href="https://discord.com/invite/524516932364271616"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/2111/2111370.png"
        alt="Discord Logo"
        class="w-6 h-6"
      />
    </a>
  </div>
  <p class="text-gray-400">Designed by KRAKENito</p>
</div>
